PUID=1000
PGID=996
TZ="America/Los_Angeles"
USERDIR=/home/USER

DOMAINNAME=example.com
CLOUDFLARE_EMAIL=youremail@example.com
CLOUDFLARE_API_KEY=XXXXXXXXXXXX

GOOGLE_CLIENT_ID=generate on google cloud
GOOGLE_CLIENT_SECRET=_-generate on google cloud
OAUTH_SECRET=generate using "openssl rand -hex 16"
MY_EMAIL=youremail@gmail.com
URL_PATH=https://oauth.example.com/_oauth